---
const langHeader = Astro.request.headers.get('accept-language') || '';
const browserLang = langHeader.toLowerCase().includes('pl') ? 'pl' : 'en';

Astro.redirect(`/${browserLang}`);
---

<html>
    <head></head>
    <body></body>
</html>
