---
const { lang = 'en', t } = Astro.props;
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <title>{t.homeTitle}</title>
    </head>
    <body class="text-white bg-[#0f172a]">
        <main class="min-h-screen px-6 py-12 text-center">
            <slot />
        </main>

        <footer class="text-center text-sm py-6">
            {t.footerText}
        </footer>
    </body>
</html>
